# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
env/
venv/
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Visual Studio Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
